<IfModule mod_rewrite.c>
  RewriteEngine On

  # Si el directorio o archivo solicitado no existe entonces se procede a la siguiente Rule
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -l

  # Dejamos que el contenido estatico sea accedido con el metodo por defecto
  RewriteRule ^[css|img|js].*$ - [L]
  # El guión medio indica que no se sustituya la url.
  # Con la "L", de coincidir con la expreción regular, esta regla es la ultima,
  # y no intenta continuar con las siguientes.

  # Si llegamos a este punto, el acceso no se trata de contenido estatico.
  # El resto se dirigue al router principal.
  RewriteRule ^(.*)$ routeAvanzado.php?action=$1 [QSA,L]
  # La expesión regular captura todas las peticiones que se hacen
  # La pretición se remplaza para llamar al archivo route.php
  # Con ".*" decimos que capture todos los caracteres restantes.
  # Los parentesis agregan lo capturado a una variable: $1 por ser la primera.
  # Con "QSA" no descartamos la cadena capturada.
  # Con la "L", de coincidir con la expreción regular, esta regla es la ultima.
</IfModule>
